<div class="form-group">
    <label>Show Percentage</label>
    <input type="checkbox" ng-model="vis.params.showPercentage" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Value</label>
    <input type="checkbox" ng-model="vis.params.showValue" class="ng-pristine ng-valid ng-touched">
</div>

<div class="form-group">
    <label>lineColor</label>
    <input type="text" ng-model="vis.params.lineColor" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Box Color</label>
    <input type="text" ng-model="vis.params.boxColor" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Y Axis Lines Color</label>
    <input type="text" ng-model="vis.params.yAxisLineColor" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Y Axis Text Color</label>
    <input type="text" ng-model="vis.params.yAxisTextColor" class="ng-pristine ng-valid ng-touched">
</div>
