<div class="form-group">
    <label>Show Text</label>
    <input type="checkbox" ng-model="vis.params.showText" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Values</label>
    <input type="checkbox" ng-model="vis.params.showValues" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Calibration</label>
    <input type="checkbox" ng-model="vis.params.showCalibration" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Description</label>
    <input type="checkbox" ng-model="vis.params.showDescription" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Minor Label</label>
    <input type="text" ng-model="vis.params.lessLabel" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Major Label</label>
    <input type="text" ng-model="vis.params.moreLabel" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>X Axis Label</label>
    <input type="text" ng-model="vis.params.xAsixLabel" default="Date" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Y Axis Label</label>
    <input type="text" ng-model="vis.params.yAsixLabel" default="Time" class="ng-pristine ng-valid ng-touched">
</div>
